body{
    background-image: linear-gradient(to right,rgb(244, 217, 120),rgb(244, 217, 120));
}
/* .header{
    width: 100%;
    height: 100%;
}
.container{
    max-width: 1200px;
    margin:0 auto;
    background-color: white;
    margin-top: 10px;
}
header .container .center{
    padding: 5px;
}
header .center h1{
    font-size: 30px;
    font-weight: 500px;
    text-align: center;
}
header .center h2{
    font-size: 15px;
    font-weight: 500px;
    text-align: center;
    padding: 0;
} */
img.slide{
    /* height: 700px; */
    /* width: 200px; */
}
.name{
    text-align: center;
}
.card-img-top.height{
    height: 20rem;
    object-fit: cover;
}

/* .footer h5{
    display:flex ;
} */